[config]
schemaVersion = "0.0.1"

[general]
repository = "https://thunderstore.io"

[package]
namespace = "refracta"
name = "MangHoMagnet"
description = "Scans DCInside's PEAK gallery posts for Steam lobby links and lets you view/join them in-game."
websiteUrl = "https://github.com/refracta/PEAK-MangHoMagnet"
containsNsfwContent = false

[package.dependencies]
BepInEx-BepInExPack_PEAK = "5.4.2403"

[build]
icon = "../../icon.png"
readme = "../../README.md"
outdir = "../../artifacts/thunderstore/"

[[build.copy]]
source = "../../artifacts/bin/MangHoMagnet/release/com.github.manghomagnet.dll"
target = "/"

[[build.copy]]
source = "../../artifacts/bin/MangHoMagnet/release/AngleSharp.dll"
target = "/"

[[build.copy]]
source = "../../CHANGELOG.md"
target = "/"

[[build.copy]]
source = "../../LICENSE"
target = "/"

# The following config options only apply when using TCLI to publish to Thunderstore directly:

[publish]
# See communities at:
# https://thunderstore.io/api/experimental/community/
communities = [ "peak", ]

[publish.categories]
# See categories at:
# https://thunderstore.io/api/experimental/community/peak/category/
peak = [ "mods", ]
